<!doctype html>
<html>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <style type="text/css">
            /* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
            body {
                margin: 0;
                padding: 0;
            }

            img:hover {
                border: 0 none;
                height: auto;
                line-height: 100%;
                outline: none;
                text-decoration: none;
            }

            a img {
                border: 0 none;
            }

            .imageFix {
                display: block;
            }

            table,
            td {
                border-collapse: collapse;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin: 0;
                padding: 0;
            }

            #bodyTable {
                height: 100% !important;
                margin: 0;
                padding: 0;
                width: 100% !important;
            }
        </style>
    </head>

    <body id="bodyTable" class="p-4 font-sans text-gray-900 bg-gray-100 w-full h-full">
        <div class="grid grid-cols-2 items-center gap-4 rounded-lg p-2">
            <h1 class="text-4xl text-gray-800 col-span-1">
                <span class="font-extrabold">FRN report</span>
                <div class="text-2xl text-gray-600">
                    <span class="italic">{{ date_range[0] }}</span> to
                    <span class="italic">{{ date_range[1] }}</span>
                </div>
            </h1>

            <img
                src="https://brand.ncsu.edu/img/downloads/logo-09.jpg"
                alt="NCSU Logo"
                class="w-16 col-span-1 justify-self-end"
            />
        </div>

        <p class="text-gray-600 p-2">
            Attached below are a series of <code>.xlsx</code> files constituting your
            weekly FRN status report. This comprehensive document includes your
            <span class="font-bold">assigned</span> BENs, all
            <span class="font-bold">unassigned</span> BENs, and a delta report. Any
            changes in the data are highlighted in
            <span class="font-bold text-cc0000">red cells</span> for easy
            identification.
        </p>

        <div class="grid grid-cols-1 gap-2">
            {% for key, value in summaries.items() %}
                <div class="grid grid-cols-1 gap-2 p-4 bg-white rounded-lg shadow-lg">
                    {% if len(value) %}
                        <h3 class="text-2xl font-bold text-cc0000">{{ key }} Items</h3>

                        <h3 class="text-xl text-gray-700">
                            New Committed Funding:
                            <span class="font-bold"
                                >{{ value["new_committed_funding"] }}</span
                            >
                        </h3>

                        <hr class="m-0.5" />

                        {% for (ben, name), group in value["bens_group"] %}
                            <h3 class="text-2xl text-cc0000">
                                {{ name }} <span class="italic">({{ ben }})</span>
                            </h3>

                            <div class="grid grid-cols-1 gap-2 p-2 rounded-lg border">
                                {% for n, (frn, row) in enumerate(group.iterrows()) %}
                                    {% if n > 0 %}
                                        <hr class="m-2" />
                                    {% endif %}

                                    <div class="grid grid-cols-2 gap-0.25">
                                        <h4
                                            class="text-xl mb-2 col-span-2 text-gray-700"
                                        >
                                            FRN {{ frn }}
                                            <span class="italic"
                                                >({{ row["FRN Nickname"] }})</span
                                            >
                                            <div
                                                class="text-sm col-span-2 text-gray-600"
                                            >
                                                Funding Year {{ row["Funding Year"] }}
                                            </div>
                                        </h4>

                                        <div class="font-bold text-gray-700">
                                            Service Provider Name
                                        </div>
                                        <div class="text-gray-600">
                                            {{ row["Service Provider Name"] }}
                                        </div>
                                        <div class="font-bold text-gray-700">
                                            Contact Email
                                        </div>
                                        <div class="text-gray-600">
                                            <a
                                                href="mailto:{{ row["Contact Email"] }}"
                                                class="underline text-cc0000 hover:text-gray-700"
                                            >
                                                {{ row["Contact Email"] }}
                                            </a>
                                        </div>
                                        <div class="font-bold text-gray-700">
                                            Service Provider Number
                                        </div>
                                        <div class="text-gray-600">
                                            {{ row["Service Provider Number"] }}
                                        </div>
                                        <div class="font-bold text-gray-700">
                                            Category
                                        </div>
                                        <div class="text-gray-600">
                                            {{ row["Category"] }}
                                        </div>
                                        <div class="font-bold text-gray-700">
                                            Funding Commitment Request
                                        </div>
                                        <div class="text-gray-600">
                                            {{ row["Funding Commitment Request"] }}
                                        </div>
                                        <div class="font-bold text-gray-700">
                                            Funding Request Status
                                        </div>
                                        <div class="text-gray-600">
                                            {{ row["Funding Request Status"] }}
                                        </div>
                                        {% if not pd.isna(row["Changes"]).all() and len(row["Changes"]) %}
                                            {% if len(row["Changes"]) == 1 and row["Changes"][0]["column"] == "Newly Tracked FRN" %}
                                                <span
                                                    class="col-span-2 mb-1 font-bold text-cc0000"
                                                >
                                                    Newly Tracked FRN
                                                </span>
                                            {% else %}
                                                <div
                                                    class="col-span-2 mb-1 mt-1 text-l font-bold text-cc0000"
                                                >
                                                    Changes ({{ len(row["Changes"]) }})
                                                </div>
                                                <ul
                                                    class="col-span-2 grid grid-cols-1 text-gray-600 w-full"
                                                >
                                                    {% for n, change in enumerate(row["Changes"]) %}
                                                        <li
                                                            class="grid grid-cols-4 p-1.5 even:bg-gray-100 odd:bg-gray-200 first:rounded-t-md last:rounded-b-md"
                                                        >
                                                            <span class="font-bold">
                                                                {{ change["column"] }}
                                                            </span>
                                                            <span class="">
                                                                {{ change["previous"] }}
                                                                ➡️
                                                            </span>
                                                            <span class="">
                                                                {{ change["current"] }}
                                                            </span>
                                                        </li>
                                                        <li
                                                            class="grid grid-cols-4 p-1.5 even:bg-gray-100 odd:bg-gray-200 first:rounded-t-md last:rounded-b-md"
                                                        >
                                                            <span class="font-bold">
                                                                {{ change["column"] }}
                                                            </span>
                                                            <span class="">
                                                                {{ change["previous"] }}
                                                                ➡️
                                                            </span>
                                                            <span class="">
                                                                {{ change["current"] }}
                                                            </span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="p-2 mt-4">
            <p class="text-gray-600">
                With love from the Friday Institute,
                <br />
                <span class="text-cc0000 font-bold underline hover:text-gray-700">
                    <a href="https://fi.ncsu.edu/teams/til/"
                        >Technology Infrastructure Lab</a
                    >
                </span>
            </p>
            <p class="text-gray-600 text-xs mt-2">
                Contact
                <a
                    href="mailto:mbabb@ncsu.edu?subject=Unsubscribe%20from%20FRN%20status"
                    class="underline text-cc0000 hover:text-gray-700"
                >
                    mbabb@ncsu.edu
                </a>
                if you no longer wish to receive these emails.
            </p>
        </div>
    </body>
</html>
